@model MVC_StokTakip.Models.Entity.Tbl_Musteri
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-check" method="post">
    <h1>MÜŞTERİ EKLE</h1>
    <div>
        <label>Müşteri Adı</label>
        @Html.TextBoxFor(m => m.MusteriAd, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MusteriAd, "", new { @style = "color:blue" })
    </div>
    <div>
        <label>Müşteri Soyadı</label>
        <input type="text" class="form-control" name="MusteriSoyad" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn1">Ekle</button>
    </div>
    <script>
        $('#btn1').click(function () {
            alert('Müşteri eklendi!');
        });
    </script>
</form>


<form class="form-check" method="get" action="/Musteri/Index">
    <div style="margin-top:15px">
        <button class="btn btn-danger"  name="yeniViewButton">Musterilere Dön</button>
    </div>

</form>
